/* Estilos gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Freeman', sans-serif;
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 6vh;
    background-color: black;
}

fieldset {
    width: 50%;
    height: 93.7vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

fieldset > form {
    display: flex;
    width: 30vw;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    height: 100%;
    background-color: aqua;
}

fieldset > form > div {
    position: absolute;
    margin-left: 30vw;
}

.txtCansado {
    font-size: 9vh;
}

/* Estilos para a página principal */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cards > div {
    display: flex;
    width: 450px;
    height: 200px;
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgb(7, 108, 185);
    font-size: 18px;
    text-shadow: 1px 1px 1px black;
    font-weight: 900;
    transition: 0.5s;
}

.cards > div:hover {
    transform: translateX(2px) translateY(2px);
    background-color: rgba(63, 169, 226, 0.6);
    box-shadow: none;
}

.imageCard {
    perspective: 100px;
    transition: 1s;
}

.imageCard > img {
    object-fit: contain;
}

.cards > div:hover .imageCard > img {
    filter: grayscale(0);
    transition: 1s;
}

.cards > div:active {
    box-shadow: none;
    transform: rotateY(360deg);
}

.cards > div > div:first-child {
    overflow: hidden;
    width: 40%;
}

.cards > div > div > img {
    max-width: 100%;
    aspect-ratio: 3/4;
}

.cards > div > div:nth-child(2) {
    display: flex;
    width: 50%;
    padding-left: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.botoesCard {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

.botoesCard img {
    height: 30px;
}

/* Estilos para o topo */
.topo {
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topo >  input {
    width: 22vw;
    cursor: pointer;
}
.topo > form > input {
    width: 22vw;
    cursor: pointer;
}
.topo > input[type=button] {
    width: 10vw;
    background-color: rgba(245, 222, 179, 0);
    cursor: pointer;
    border: none;
    color: white;
    font-size: 4vh;
    text-decoration: underline;
}

.topo > a >img {
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
}

/* Estilos para o main */
main {
    display: flex;
    flex-direction: column;
}

.fotoMain {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuIzVI9QfXjUc5YEUGP4KJQfepQFkY_J1qyw&s);
    filter: grayscale(1);
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
}

.selecao1 {
    background-color: green;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 0.6vh rgb(107, 107, 107);
}

.selecao1 > a > div {
    cursor: pointer;
    height: 30vh;
    width: 70vh;
    background-color: aqua;
    border: solid 1vh black;
}

/* Estilos para mostrar os produtos */
.selecao2 {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    justify-content: space-evenly;
}

.selecao2 a {
    color: black;
    text-decoration: none;
}

a > .cardsPrinc {
    background-color: brown;
    display: flex;
    align-items: center;
}

a > .cardsPrinc > div > div > img {
    height: 40vh;	
    width: 40vh;
}

a > .cardsPrinc > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.mostrarProdDiv {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: aqua;
}

.mostrarProdDiv > img {
    height: 70vh;
    width: 27vw;
    border-radius: 2vh;
    margin-left: 10vh;
}

.mostrarProdDiv > div {
    margin-left: 10vh;
    background-color: brown;
    height: 70vh;
    border-radius: 4vh;
    width: 50vw;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: solid 0.5vh red;
    box-shadow: 1vh 1vh 10vh red;
}

.mostrarProdDiv > div > p {
    margin-left: 3vh;
}

.tituloProd {
    font-size: 4vh;
    font-family: "Anton", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.simbolo {
    height: 7vh;
    width: 7vh;
    position: absolute;
    margin-top: 60vh; 
    margin-left: 90vh;
}

.descProd {
    background-color: aqua;
    height: 45vh;
    width: 90vh;
    overflow-x: auto;
}

/* Carrinho */
.carrinhoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divUnica {
    align-items: center;
    display: flex;
    height: 30vh;
    width: 70vh;
    border: solid 1vh;
    margin-top: 2vh;
}

.prodCarr {
    height: 30vh;
    width: 30vh;
}

.divUnica > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.divUnica > div > p {
    font-size: 4vh;
}

.divUnica > div > a > button {
    cursor: pointer;
    margin-top: 4vh;
}

.simCarr {
    height: 7vh;
    position: absolute;
    width: 7vh;
    margin-top: 12vh;
    margin-left: 26vh;
}

/* Ajustes do Slick */
.slick-slider {
    margin-bottom: 0;
}

.slick-list {
    padding: 0;
}

.slick-track {
    display: flex;
}

.slick-slide {
    display: flex;
    justify-content: center;
    padding: 0;
}

.cardsPrinc {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
}

.cardsPrinc img {
    max-width: 100%;
    height: auto;
}

 /* pesquisa */

 .nav_pesquisa{
    background-color: black;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .nav_pesquisa > a > img{
    height: 9vh; 
    width: 9vh;
    border-radius: 50%;
 }

    /* usuario */

.Usuario{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    justify-content: space-evenly;
    border: solid 1vh white;
    height: 70vh;
    width: 110vh;
    box-shadow: 1vh 1vh 10vh black;
    border-radius: 10vh;
}
.Usuario > img{
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
}
.Usuario > div{
    height: 100%;
    
    width: 40vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

 .Usuario > div > li {
   list-style: none; 
   color: white;
   text-decoration-color: white;
   text-decoration: none;
}
.Usuario > div > a> li {
    cursor: pointer;
    list-style: none; 
    color: rgb(0, 0, 0);
    border-radius: 1vh;
    background-color: #fff;
    height: 3vh;
    text-align: center;
    width: 9vw;
    text-decoration: none;
 }
.mainUser{
    height: 100vh;
    width: 100%;
    display: flex;
   
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.mainUser > h1{
    font-size: 7vh;
    text-shadow: 1vh 1vh 4vh black;
}

    /* alterar usuario */

.altUsuariodiv{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.altUsuariodiv > h1{
    font-size: 7vh;
    text-shadow: 1vh 1vh 4vh white;
    color: white;
}

.fieldUser{
    display: flex;
    align-items: center;
    width: 50vw;
    border: solid rgb(255, 255, 255) 1vh;
    background-color: black;
    height: 70vh;
    box-shadow: 1vh 1vh 10vh white ;
    border-radius: 10vh;
}
.fieldUser > form{
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    justify-content: space-between;
}

.imgUser{
    height: 20vh;
    width: 17vw;
}
.fieldUser > form > p{
    font-size: 3vh;
    color: white;
}
.fieldUser > form > p > input{
    height: 3vh;
    width:13vw;
    cursor: pointer;
    text-align: center;
    background-color: white;
    border-radius: 10vh;
    border: none;
}
.fieldUser > form > select{
    width: 7vw;
    border-radius: 10vh;
    border: none;
}

    /* parte gabreil */
    .topo {
        width: 100%;
        height: 10vh;
        background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .topo > a > input {
        width: 22vw;
        cursor: pointer;
    }
    .topo > form > input {
        width: 22vw;
        cursor: pointer;
        padding: 5px;
        border-radius: 2vh;
        margin-right: 60vh;
    }   
    .topo > a > input[type=button] {
        width: 10vw;
        background-color: rgba(245, 222, 179, 0);
        cursor: pointer;
        border: none;
        color: white;
        font-size: 4vh;
        text-decoration: underline;
    }
    
    .topo > a >img {
        border-radius: 50%;
        width: 10vh;
        height: 10vh;
    }
    
    /* Estilos para o main */
    main {
        display: flex;
        flex-direction: column;
    }
    
    .fotoMain {
        background: url(https://placar.com.br/wp-content/uploads/2024/01/site_900x600-2-1.jpg);
        filter: grayscale(1);
        background-repeat: no-repeat;
        background-size: cover ;
        width: 100%;
        height: 90vh;
    }
    
    .selecao1 {
        background-color: black;
        width: 100%;
        height: 40vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: solid 0.6vh rgb(107, 107, 107);
    }
    
    .selecao1 > a > div {
        cursor: pointer;
        height: 30vh;
        width: 70vh;
        background-color: rgb(255, 255, 255);
        border: solid 1vh black;
    }
    .selecao1 > a > div > p{
        text-align: center ;
        flex-direction: column;
    }
    
    /* Estilos para mostrar os produtos */
    .selecao2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .selecao2 a {
        color: black;
        text-decoration: none;
    }
    
    a > .cardsPrinc {
        background-color: lightgrey;
        display: flex;
        align-items: center;
        border-radius: 8vh;
        border: solid  black  4px;
        height: 60vh;
    }
    
    a > .cardsPrinc > div > div > img {
        height: 40vh;	
        width: 40vh;
    }
    a > .cardsPrinc > div {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    
    a > .cardsPrinc > div {
        align-items: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        cursor: pointer;
    }
    