/* Estilos gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-family: 'Freeman', sans-serif;
    overflow-x: hidden;
}


.txtCansado {
    font-size: 9vh;
}



/* Estilos para o topo */
.topo {
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topo >  input {
    width: 22vw;
    cursor: pointer;
}
.topo > form > input {
    width: 22vw;
    cursor: pointer;
}
.topo > input[type=button] {
    width: 10vw;
    background-color: rgba(245, 222, 179, 0);
    cursor: pointer;
    border: none;
    color: white;
    font-size: 4vh;
    text-decoration: underline;
}

.topo > a >img {
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
}

/* Estilos para o main */
main {
    display: flex;
    flex-direction: column;
}

.fotoMain {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuIzVI9QfXjUc5YEUGP4KJQfepQFkY_J1qyw&s);
    filter: grayscale(1);
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
}

.selecao1 {
    background-color: green;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 0.6vh rgb(107, 107, 107);
}

.selecao1 > a > div {
    cursor: pointer;
    height: 30vh;
    width: 70vh;
    background-color: aqua;
    border: solid 1vh black;
}

/* Estilos para mostrar os produtos */
.selecao2 {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(195, 236, 236);
    justify-content: space-evenly;
}

.selecao2 a {
    color: black;
    text-decoration: none;
}

a > .cardsPrinc {
    background-color: brown;
    display: flex;
    align-items: center;
}

a > .cardsPrinc > div > div > img {
    height: 40vh;	
    width: 40vh;
}

a > .cardsPrinc > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

    /* parte mostrar pordutos */

.mostrarProdDiv {
    display: flex;
    align-items: center;
    height: 100vh;
    background-repeat: repeat;
    background-size: 50vh;
    width: 100%;
    
}

.mostrarProdDiv > img {
    height: 70vh;
    width: 27vw;
    border-radius: 2vh;
    margin-left: 10vh;
}

.mostrarProdDiv > div {
    margin-left: 10vh;
    background-color: #ffffff;
    height: 70vh;
    border-radius: 4vh;
    width: 50vw;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: solid 0.5vh rgb(0, 0, 0);
    box-shadow: 1vh 1vh 10vh rgb(95, 94, 94);
}

.mostrarProdDiv > div > p {
    margin-left: 3vh;
}

.mostrarProdDiv  > a{
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    margin-bottom: 90vh;
    margin-left: 2vh;
    height: 7vh;
    text-align: center;
    width: 7vw;
    background-color: white;
    border-radius: 10vh;
    border: 1vh solid black;
    box-shadow: 1vh 1vh 10vh black;
    font-size: 4vh;
    color: black;
    transition: 1s;
}
.mostrarProdDiv > a:hover{
    transform: translateX(1vh) translateY(1vh);
    background-color: red;
    text-align: center;
    color: white;
    border: 1vh solid white;
}

.buttProd{
    height: 6vh;
    width: 8vw;
    transition: 1s;
    cursor: pointer;
}
.buttProd:hover{
    background-color: green;
    border: solid 0.6vh white;
    color: white;
    border-radius: 10vh;
    box-shadow: 1vh 1vh 10vh green;
    transform: translateX(0.6vh) translateY(0.6vh);
}

.tituloProd {
    font-size: 5vh;
    font-family: "Anton", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.simbolo {
    height: 10vh;
    width: 10vh;
    position: absolute;
    margin-top: 54vh; 
    margin-left: 87vh;
    
}

.descProd {
   
    height: 45vh;
    width: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.descProd > p{
    font-size: 4vh;
    word-wrap: break-word;
    flex-wrap: wrap;
}

.precoProd{
    font-size: 5vh;
    color: rgb(7, 82, 7);
    
}
/* Carrinho */
.carrinhoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divUnica {
    align-items: center;
    display: flex;
    height: 30vh;
    width: 70vh;
    border: solid 1vh;
    margin-top: 2vh;
}

.prodCarr {
    height: 30vh;
    width: 30vh;
}

.divUnica > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.divUnica > div > p {
    font-size: 4vh;
}

.divUnica > div > a > button {
    cursor: pointer;
    margin-top: 4vh;
}

.simCarr {
    height: 7vh;
    position: absolute;
    width: 7vh;
    margin-top: 12vh;
    margin-left: 26vh;
}

/* Ajustes do Slick */
.slick-slider {
    margin-bottom: 0;
}

.slick-list {
    padding: 0;
}

.slick-track {
    display: flex;
}

.slick-slide {
    display: flex;
    justify-content: center;
    padding: 0;
}

.cardsPrinc {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
}

.cardsPrinc img {
    max-width: 100%;
    height: auto;
}

 /* pesquisa */

 .nav_pesquisa{
    background-color: black;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .nav_pesquisa > a > img{
    height: 9vh; 
    width: 9vh;
    border-radius: 50%;
 }

    /* usuario */

.Usuario{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    justify-content: space-evenly;
    border: solid 1vh white;
    height: 70vh;
    width: 110vh;
    box-shadow: 1vh 1vh 10vh black;
    border-radius: 10vh;
}
.Usuario > img{
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
}
.Usuario > div{
    height: 100%;
    
    width: 40vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

 .Usuario > div > li {
   list-style: none; 
   color: white;
   text-decoration-color: white;
   text-decoration: none;
}
.Usuario > div > a> li {
    cursor: pointer;
    list-style: none; 
    color: rgb(0, 0, 0);
    border-radius: 1vh;
    background-color: #fff;
    height: 3vh;
    text-align: center;
    width: 9vw;
    text-decoration: none;
 }
.mainUser{
    height: 100vh;
    width: 100%;
    display: flex;
   
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.mainUser > h1{
    font-size: 7vh;
    text-shadow: 1vh 1vh 4vh black;
}

    /* alterar usuario */

.altUsuariodiv{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.altUsuariodiv > h1{
    font-size: 7vh;
    text-shadow: 1vh 1vh 4vh white;
    color: white;
}

.fieldUser{
    display: flex;
    align-items: center;
    width: 50vw;
    border: solid rgb(255, 255, 255) 1vh;
    background-color: black;
    height: 70vh;
    box-shadow: 1vh 1vh 10vh white ;
    border-radius: 10vh;
}
.fieldUser > form{
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    justify-content: space-between;
}

.imgUser{
    height: 20vh;
    width: 17vw;
}
.fieldUser > form > p{
    font-size: 3vh;
    color: white;
}
.fieldUser > form > p > input{
    height: 3vh;
    width:13vw;
    cursor: pointer;
    text-align: center;
    background-color: white;
    border-radius: 10vh;
    border: none;
}
.fieldUser > form > select{
    width: 7vw;
    border-radius: 10vh;
    border: none;
}

    /* parte gabreil */
    .topo {
        width: 100%;
        height: 10vh;
        background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .topo > a > input {
        width: 22vw;
        cursor: pointer;
    }
    .topo > form > input {
        width: 22vw;
        cursor: pointer;
        padding: 5px;
        border-radius: 2vh;
        margin-right: 60vh;
    }   
    .topo > a > input[type=button] {
        width: 10vw;
        background-color: rgba(245, 222, 179, 0);
        cursor: pointer;
        border: none;
        color: white;
        font-size: 4vh;
        text-decoration: underline;
    }
    
    .topo > a >img {
        border-radius: 50%;
        width: 10vh;
        height: 10vh;
    }
    
    /* Estilos para o main */
    main {
        display: flex;
        flex-direction: column;
    }
    
    .fotoMain {
        background: url(https://placar.com.br/wp-content/uploads/2024/01/site_900x600-2-1.jpg);
        filter: grayscale(1);
        background-repeat: no-repeat;
        background-size: cover ;
        width: 100%;
        height: 90vh;
    }
    
    .selecao1 {
        background-color: rgb(128, 128, 128);
        width: 100%;
        height: 40vh;
        border: solid black 0.4vh;
        background-image: url(https://img.freepik.com/premium-photo/background-texture-printed-question-marks_124595-213.jpg?w=2000);
        background-size: cover;
        background-blend-mode: multiply;
        display: flex;
        justify-content: space-around;
        align-items: center;
       box-shadow: 0.1vh 0.1vh 3vh black;
    }
    
    .selecao1 > a > div {
        cursor: pointer;
        height: 30vh;
        width: 70vh;
        background-color: rgb(160, 156, 156);
        display: flex;
        align-items: center;
        justify-content: center;
        background-image:url(https://th.bing.com/th/id/R.883c223a1cd898709acf7c3d8f33d258?rik=n%2bpYOO8w%2bKIVJg&pid=ImgRaw&r=0);
        background-blend-mode: multiply;
        background-size: cover;
        border-radius: 1vh;
        border: solid 0.4vh white;
        box-shadow: 1vh 1vh 10vh white;
    }
    .selecao1 > a > div > p{
        text-align: center ;
        flex-direction: column;
        text-decoration: none;
        font-size: 5vh;
        font-weight: 600;
        color: white;
    }
    .selecao1 > a {
        text-decoration: none;
    }
    
    /* Estilos para mostrar os produtos */
    .selecao2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .selecao2 a {
        color: black;
        text-decoration: none;
    }
    
    a > .cardsPrinc {
        background-color: lightgrey;
        display: flex;
        align-items: center;
        border-radius: 8vh;
        border: solid  black  4px;
        height: 60vh;
    }
    
    a > .cardsPrinc > div > div > img {
        height: 40vh;	
        width: 40vh;
    }
    a > .cardsPrinc > div {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    
    a > .cardsPrinc > div {
        align-items: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        cursor: pointer;
    }
    

      /* parte do principalADM */

.topoAdm{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.topoAdm > h1{
    color: white;
    font-size: 9vh;
}

.topoAdm > a{
    color: white;
    font-size: 5vh;
}

.CardsAdm{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.CardsUnicos{
    margin-top: 4vh;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.329);
    border: solid 0.7vh black;
    border-radius: 5vh;

}
.imageCard{
    height: 100%;

    width: 20vw;
    justify-content: center;
    display: flex;
    align-items: center;
}
.imageCard > img{
    height: 100%;
    width: 100%;
}
.adm{
    background-image:url(https://images3.alphacoders.com/115/115555.jpg);
    background-color: rgb(163, 163, 163);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}

.nomeIndefinido{
    display: flex;
    height: 100%;
    align-items: center;
    width: 15vw;
    justify-content: space-around;
}

.nomeDasCoisas > p{
    font-weight: 600;
    font-size: 3vh;

}
.saidinha{
    color: white;
    font-size: 10vh;
}
.botoesCard {
    width: 100%;
    display: flex;
    margin-top: 1vh;
    justify-content: space-evenly;
    text-decoration: none;
}

.botoesCard img {
    height: 5vh;
}


    /* adicionar camisa */

.adicionarCamisa{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image:url(https://images3.alphacoders.com/115/115555.jpg);
    background-color: rgb(163, 163, 163);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.adicionarCamisa > nav{
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.267);
    align-items: center;
    justify-content: space-around;
}
.adicionarCamisa > nav > a{
    font-size: 5vh;
    color: white;
    cursor: pointer;
}

.adicionarCamisa > nav > h1{

    color: rgb(255, 255, 255);
    font-size: 10vh;

}

.adicionarCamisa > fieldset{
    display: flex;
    border:  solid black 1vh ;
    border-radius: 10vh;
    height: 70vh;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.466);
    flex-direction: column;
    align-items: center;
}
.adicionarCamisa > fieldset > form{
    display: flex ;
    align-items: center;
    flex-direction: column;

    height: 70vh;
    justify-content: space-around;
}
.adicionarCamisa > fieldset > form > label{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 1vh;
}
.adicionarCamisa > fieldset > form > label > p{
    color: black;
    font-size: 3vh;
    font-weight: 600;
}
.adicionarCamisa > fieldset > form > label > input,select,textarea{
    border: 0.4vh solid black;
    border-radius: 0.6vh;
    color:  black;
    background-color: rgba(255, 255, 255, 0.534);
    font-weight: 500;
    width: 30vh;
}
.txtCansado2{
    font-size: 3vh;
    font-weight: 600;
}

.enviarBut{
    height: 5vh;
    cursor: pointer;
    width: 5vw;
    border: solid 0.7vh rgb(0, 0, 0);
    border-radius: 1vh;
    transition: 1s;
}
.enviarBut:hover{

    transform: translateX(0.4vh) translateY(0.4vh);
    background-color: green;
    border: white 0.7vh solid;
    color: white;
    box-shadow: 1vh 1vh 4vh white;
}

.carrinho{
    height: 10vh;
    filter: invert();
    width: 4vw;
}

    /* adicionar cliente */

.containerForm2{
    background-color: gray;
    background-image: url(https://www.designi.com.br/images/preview/10321701.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerForm2 > h2{
    font-size: 10vh;
    color: white;
}
.containerForm2 > fieldset{
    border:  solid 0.5vh black;
    background-color: rgba(255, 255, 255, 0.644);
    box-shadow: 1vh 1vh 10vh white;
    padding: 1vh;
    border-radius: 1vh;
    height: 80vh;
    overflow: auto;
    display: flex;
}
.containerForm2 > fieldset > form{
    display: flex;align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.containerForm2 > fieldset > form > label{
    display: flex;
    margin-top: 1vh;
    
    align-items: center;
}
.containerForm2  > fieldset >form > label > p{
    font-weight: 400;
    font-size: 3vh;
}
.containerForm2 > fieldset > form > label > input{
    width: 20vh;
    color: black;
    background-color: rgba(255, 255, 255, 0.514);
    margin-left: 1vh;
    border: solid 0.3vh black;
    border-radius: 1vh;
}

.containerForm2 > fieldset > form > div  {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.txtCansado2{
    font-size: 6vh;
}
.buttCadastro{
    background-color: white;
    border-radius: 1vh;
    border: solid 0.5vh black;
    padding: 1vh;
    cursor: pointer;
    transition: 1s;
}
.buttCadastro:hover{
    transform: translateX(0.4vh)
    translateY(0.5vh);
    background-color: green;
    border: white 0.5vh solid;
}
#previewImg{

    height: 20vh;
    width: 30vh;

}

.containerForm2 > h1 {
    font-size: 3vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.containerForm2 > h1 > a{
    color: white;
}

    /* pesquisar camisa */
    .nav_pesquisa2{
        background-color: aqua;
        display: flex;
        align-items: center;
        width: 100%;
        height: 13vh;
        background-color: black;
        justify-content: space-around;
    }
    .nav_pesquisa2 > a > img{
        height: 10vh;
        width: 10vh;
        border-radius: 50%;
        
    }
    .nav_pesquisa2 >form > input{
        width: 37vh;
        height: 5vh;
        border-radius: 1vh;

    }
.nav_pesquisa2 > a{
    font-size: 3vh;
    color: white;
}
.produto{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.produto > img{
    height: 20vh;
    width: 30vh;
}